<nav class="">
  <ul>
    <li><a href="/contents/custom/<%= 'all' %>">ALL</a></li>
    <li><a href="/contents/custom/<%= '스킨케어' %>">스킨케어</a></li>
    <li><a href="/contents/custom/<%= '페이스업' %>">페이스업</a></li>
    <li><a href="/contents/custom/<%= '헤어' %>">헤어</a></li>
    <li><a href="/contents/custom/<%= '바디' %>">바디</a></li>
  </ul>
</nav>

<div class="">
  <h3><%= current_user.nickname %>님의 <span>맞춤 매뉴얼</span>과 관심 <span>#키워드</span></h3>
  <% if current_user.keyword != nil %>
    <% tags = current_user.tags %>
    <p>
      [태그]
      <% tags.each do |tag| %>
        <span>#<%= tag.name %></span>&nbsp
      <% end %>
    </p>
  <% else %>
    <p>피부특성 분석을 진행해 보세요! <a href="/mypouch/face">바로가기</a></p>
  <% end %>
</div>

<article class="custom">
  <% @contents.each do |content| %>
    <div class="" style="border: 1px solid #555">
      <div class="">
        <%= link_to image_tag(content.thumb.main), content_path(content) %><!-- 썸네일 이미지 -->
      </div>

      <div class="">
        <h3><span style="color:red;"><%= content.category%> | </span><%= content.title %></h3><!-- 타이틀이 노출됩니다. -->
      </div>

      <div class>
        <%= link_to "Likes #{content.get_upvotes.size}", like_content_path(content), method: :put %>
        <span>Views <%= content.impressionist_count %></span>
      </div>

      <div class="">
        <p>
          <% tags = content.tags %>
          <% tags.each do |tag| %><!--키워드 전체가 노출됩니. -->
            <span>#<%= tag.name %></span>&nbsp
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</article>

<article class="index">
  <h3>트렌드 매뉴얼</h3>
  <!-- 관련 js, css 코드는 해당 페이지 아래쪽에 있음 -->
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">필터 ▼</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="/contents/filter/<%= 'hottest' %>">인기순</a>
      <a href="/contents/filter/<%= 'latest' %>">최신순</a>
    </div>
  </div>

  <% @contents_normal.each do |content| %>
    <div class="" style="border: 1px solid #555">
      <div class="">
        <%= link_to image_tag(content.thumb.main), content_path(content) %><!-- 썸네일 이미지 -->
      </div>

      <div class="">
        <h3><span style="color:red;"><%= content.category%> | </span><%= content.title %></h3><!-- 타이틀이 노출됩니다. -->
      </div>

      <div class>
        <%= link_to "Likes #{content.get_upvotes.size}", like_content_path(content), method: :put %>
        <span>Views <%= content.impressionist_count %></span>
        <p class=""><%= time_ago_in_words(content.created_at) %> 전 [ <%= content.created_at.strftime('%Y-%m-%d %H:%M') %> ]</p>

      </div>

      <div class="">
        <p>
          <% tags = content.tags %>
          <% tags.each do |tag| %><!--키워드 전체가 노출됩니. -->
            <span>#<%= tag.name %></span>&nbsp
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</article>

<%= link_to 'New Content', new_content_path %>

<script>
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<style>
  /* Dropdown Button */
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
</style>
