<nav class="m_sub_title">
  <ul>
    <li><a class="m_m1" href="/contents/custom/<%= 'all' %>">ALL</a></li>
    <li><a class="m_m2" href="/contents/custom/<%= 'skincare' %>">스킨케어</a></li>
    <li><a class="m_m3" href="/contents/custom/<%= 'faceup' %>">페이스업</a></li>
    <li><a class="m_m4" href="/contents/custom/<%= 'hair' %>">헤어</a></li>
    <li><a class="m_m5" href="/contents/custom/<%= 'body' %>">바디</a></li>
  </ul>
</nav>
<nav class="m_sub_title_blank"></nav>
<%= @contentsArray %>

<article class="custom">
  <section>
    <div class="content_main1">
      <div class="i1">
        <div class="in1">맞춤</div>
        <div class="in2"><%= current_user.nickname %>님을 위한 맞춤 매뉴얼</div>
      </div>

      <% if current_user.keyword != nil %>
        <% tags = current_user.tags %>
        <p>
          [태그]
          <% tags.each do |tag| %>
            <span>#<%= tag.name %></span>&nbsp
          <% end %>
        </p>
      <% else %>
        <p>피부특성 분석을 진행해 보세요! <a href="/mypouch/face">바로가기</a></p>
      <% end %>
    </div>
  </section>

  <% if current_user.skintype != nil %>
    <section>
      <% @contents.each do |content| %>
        <div class="" style="border: 1px solid #555">
          <div class="">
            <%= link_to image_tag(content.thumb.main), content_path(content) %><!-- 썸네일 이미지 -->
          </div>

          <div class="">
            <h3><span style="color:red;"><%= content.category%></span> | <%= content.title %></h3><!-- 타이틀이 노출됩니다. -->
          </div>

          <div class>
            <%= link_to "Likes #{content.get_upvotes.size}", like_content_path(content), method: :put %>
            <span>Views <%= content.impressionist_count %></span>
          </div>

          <div class="">
            <p>
              <% tags = content.tags %>
              <% tags.each do |tag| %><!--키워드 전체가 노출됩니. -->
                <span>#<%= tag.name %></span>&nbsp
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
</article>

<article class="index">
  <h3>트렌드 매뉴얼</h3>
  <nav>
    <ul>
      <li><a href="/contents/filter/<%= 'hottest' %>">인기순</a></li>
      <li><a href="/contents/filter/<%= 'latest' %>">최신순</a></li>
    </ul>
  </nav>

  <section>
    <% @contents_normal.each do |content| %>
      <div class="" style="border: 1px solid #555">
        <div class="">
          <%= link_to image_tag(content.thumb.main), content_path(content) %><!-- 썸네일 이미지 -->
        </div>

        <div class="">
          <h3><span style="color:red;"><%= content.category%></span> | <%= content.title %></h3><!-- 타이틀이 노출됩니다. -->
        </div>

        <div class>
          <%= link_to "Likes #{content.get_upvotes.size}", like_content_path(content), method: :put %>
          <span>Views <%= content.impressionist_count %></span>
          <p class=""><%= time_ago_in_words(content.created_at) %> 전 [ <%= content.created_at.strftime('%Y-%m-%d %H:%M') %> ]</p>

        </div>

        <div class="">
          <p>
            <% tags = content.tags %>
            <% tags.each do |tag| %><!--키워드 전체가 노출됩니. -->
              <span>#<%= tag.name %></span>&nbsp
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <%= link_to 'New Content', new_content_path %>
  </section>
</article>
