<p id="notice"><%= notice %></p>

<p>
  <h3>Thumbnail</h3>
  <img src="<%= @content.thumb.detail %>" alt="" />
</p>
<h3>Title: <%= @content.title %></h3>
<p>Subtitle: <%= @content.subtitle %></p>

<article>
  <h3>Body</h3>
  <%= @content.body.html_safe%>
</article>

<p>
  <% @tags.each do |tag| %>
    <span>#<%= tag.name %></span>&nbsp
  <% end %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
