<article>
  <p id="notice"><%= notice %></p>

    <div class="con_tag">
      <% @tags.each do |tag| %>
      <span>#<%= tag.name %></span>&nbsp
      <% end %>
    </div>

    <div class="con_thumb" >

      <div class="con thumb1">
        <img src="<%= @content.thumb.detail %>" alt="" />
      </div>

      <div class="con thumb2">
        <div class="con_title"><%= @content.title %></div>
        <div class="con_s_title"><%= @content.subtitle %></div>
      </div>

      <div class="con thumb3">
        <div class="btn_likes"><a href="<%= like_content_path(@content) %>" data-method="put"><div class="ico_heart"></div><%= @content.get_upvotes.size %></a></div>
        <div class="btn_views"><div class="ico_views"></div> <%= @content.impressionist_count %></div>
      </div>

    </div>

    <div class="con_body">
      <%= @content.body.html_safe%>
    </div>

    <div class="btn_likes_bot"><a href="<%= like_content_path(@content) %>" data-method="put"><div class="ico_heart"></div><%= @content.get_upvotes.size %></a></div>



  <%= link_to 'Edit', edit_content_path(@content) %> |
  <%= link_to 'Destroy', @content, method: :delete, data: { confirm: 'Are you sure?' } %>

  <hr>

  <div class="">
    <h3><%= @content.comments.count %> Comments</h3>
    <%= render @content.comments %>
    <%# <h3>Add a Comment: </h3> %>
    <%# <%= render "comments/form" %>
  </div>
</article>
