<article>
  <div class="signin signup">
    <div class="signin_text"><span>회원 가입</span><br><b>1단계 : 기본 회원정보</b> - 2단계 - 3단계</div>
    <%= form_for(resource, as: resource_name,url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="signup_1">

        <div class="field_s1">
          <%= f.email_field :email, autocomplete:"off",class:"sign_email",placeholder:"ID ( 이메일 형식 )" %>
        </div>
        <div class="fs1_error">중복된 이메일입니다.</div>
        <div class="fs12_error">이메일 형식으로 입력하세요. (영어)</div>

        <div class="field_s2">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, class:"sign_pwd1", placeholder:"비밀번호 ( 6글자 이상 )" %>
        </div>

        <div class="field_s3">
          <%= f.password_field :password_confirmation, class:"sign_pwd2", placeholder:"비밀번호 확인"%>
        </div>
        <div class="fs3_error">비밀번호와 똑같이 써주세요.</div>

        <div class="sign_next blue_btn">
          넘어가기
        </div>

      </div>

      <div class="signup_2">

        <div class="field">
          <%= f.text_field :nickname, class:"sign_nick", placeholder:"닉네임 ( 3자 이상 ~ 10자 이하 )" %>
        </div>

        <div class="fs4_error">특수기호, 뛰어쓰기는 사용할수 없습니다.</div>
        <div class="fs41_error">글자수를 확인하세요.</div>

        <div class="field">
          <%= f.text_field :phone , class:"sign_tel", placeholder:"전화번호 ( 숫자만 입력 )"%>
        </div>

        <div class="fs5_error">숫자만 사용해 전화번호를 입력하세요.</div>

        <div class="field f_gender">
          <%= f.radio_button :sex, "남성", class:"gender" ,id:"man"%>
          <%= f.label :sex, "남성" , for:"man"%>
          &nbsp;&nbsp;&nbsp;
          <%= f.radio_button :sex, "여성", class:"gender",id:"woman" %>
          <%= f.label :sex, "여성" , for:"woman"%>
        </div>

        <div class="field">
          <%= f.label :나이 %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.select(:age, ['10대후반', '20대초반', '20대후반', '30대초반', '30대후반', '40대이상'] , {}, { :class => 'sign_select'}) %>
        </div>

        <div class="sign_next1 blue_btn">
          넘어가기
        </div>
      </div>

      <div class="signup_3">

        <div class="field1">
          <%= f.label "프로필" %><br>
          <img style="display: none;" class="" id="profile_img_prev" src="#" alt="profile_img" />
          <%= f.file_field :profile, accept: 'image/png image/gif image/jpg', onchange: "readURL(this);" %>
        </div>

        <div class="actions">
          <%= f.submit "회원가입" %>
        </div>
      </div>
     <% end %>
  </div>
</article>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#profile_img_prev')
          .attr('src', e.target.result)
          .css('display', 'block')
          .width(200)
          // .height(200);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
