<article>
  <div class="signin">
      <div class="signin_text"><span>회원 가입</span><br>인생의 가장 멋진 나를 만들어보세요</div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="signup_1">

          <div class="field_s1">
            <%= f.email_field :email, placeholder:"ID ( 이메일 형식 )" %>
          </div>

          <div class="field_s2">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, class:"sign_pwd1", placeholder:"비밀번호 ( 6글자 이상 )" %>
          </div>

          <div class="field_s3">
            <%= f.password_field :password_confirmation, class:"sign_pwd2", placeholder:"비밀번호 확인"%>
          </div>

          <div class="sign_next blue_btn">
            넘어가기
          </div>

        </div>

        <div class="signup_2">

          <div class="field">
            <%= f.text_field :nickname, class:"sign_nick", placeholder:"닉네임" %>
          </div>

          <div class="field">
            <%= f.text_field :phone , placeholder:"전화번호"%>
          </div>
          <div class="field f_gender">
            <%= f.radio_button :sex, "남성", class:"gender" ,id:"man"%>
            <%= f.label :sex, "남성" , for:"man"%>
            &nbsp;&nbsp;&nbsp;
            <%= f.radio_button :sex, "여성", class:"gender",id:"woman" %>
            <%= f.label :sex, "여성" , for:"woman"%>
          </div>
          <div class="field">
            <%= f.label :나이 %>
            <%= f.select(:age, ['10대후반', '20대초반', '20대후반', '30대초반', '30대후반', '40대이상'] , {}, { :class => ''}) %>
          </div>
        </div>
          <div class="field">
            <%= f.label :프로필 %><br>
            <%= f.file_field :profile, accept: 'image/png image/gif image/jpg' %>
          </div>

          <div class="actions">
            <%= f.submit "회원가입" %>
            
          </div>

      <% end %>
  </div>
</article>