<div>
	<div>
		<h1>전체 유저 수</h1>
		<p><%= @users.count %>명</p>
		<%= link_to '유저관리', admin_userinfo_path %>
	</div>

	<div>
		<h1>등록된 제품 수</h1>
		<p><%= @products.count %>개</p>
		<%= link_to '제품관리', admin_productinfo_path %>
	</div>	

	<div>
		<h1>등록된 콘텐츠 수</h1>
		<p><%= @contents.count %>개</p>
		<%= link_to '콘텐츠관리', admin_contentinfo_path %>
	</div>

	<div>
		<h1>등록된 크리에이터 콘텐츠 수</h1>
		<p><%= @contents.count %>개</p>
		<%= link_to '크리에이터 콘텐츠관리', admin_creatureinfo_path %>	
	</div>	
</div>
