<table>
  <tbody>
    <tr>
      <td><p>ID</p></td>
      <td><p>제품명</p></td>
      <td><p>브랜드</p></td>
      <td><p>가격</p></td>
      <td><p>링크</p></td>
      <td><p>키워드</p></td>
      <td><p>스코어</p></td>   
      <td><p>created_at</p></td>
      <td><p>upadted_at</p></td>
      <td><p>작성자</p></td>
      <td><p>관리</p></td>
    </tr>

      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>          
          <td><%= product.name %></td>
          <td><%= product.brand %></td>
          <td><%= product.price %></td>
          <td><%= product.link %></td>
          <td><%= product.keyword %></td>
          <td><%= product.score %></td>
          <td><%= product.created_at %></td>
          <td><%= product.updated_at %></td>
          <td><%= product.user.nickname %></td>
          <td><%= link_to 'Show', product %>
              <%= link_to 'Edit', edit_product_path(product) %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr> 
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>