<nav class="m_sub_title">
  <ul>
    <li><a class="m_m1" href="/creatures/category/<%= 'all' %>">ALL</a></li>
    <li><a class="m_m2" href="/creatures/category/<%= 'skincare' %>">스킨케어</a></li>
    <li><a class="m_m3" href="/creatures/category/<%= 'faceup' %>">페이스업</a></li>
    <li><a class="m_m4" href="/creatures/category/<%= 'hair' %>">헤어</a></li>
    <li><a class="m_m5" href="/creatures/category/<%= 'body' %>">바디</a></li>
  </ul>
</nav>
<nav class="m_sub_title_blank"></nav>

<article>
  <% @creatures.each do |creature| %>
    <div class="" style="border: 1px solid #555">
      <div class="">
        <%= link_to image_tag(creature.thumb.main), creature_path(creature) %><!-- 썸네일 이미지 -->
      </div>

      <div class="">
        <h3><span style="color:red;"><%= creature.category%></span> | <%= creature.title %></h3><!-- 타이틀이 노출됩니다. -->
      </div>

      <div class>
        <%= link_to "Likes #{creature.get_upvotes.size}", like_creature_path(creature), method: :put %>
        <span>Views <%= creature.impressionist_count %></span>
      </div>

      <div class="">
        <p>
          <% tags = creature.tags %>
          <% tags.each do |tag| %><!--키워드 전체가 노출됩니. -->
            <span>#<%= tag.name %></span>&nbsp
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <%= link_to 'New Creature', new_creature_path %>
</article>
