<h1>Home#index</h1>

<div class="">
  <p class=""><%= link_to "배너(클릭시 피부분석으로 이동합니다.)", mypouch_survey_path%></p>
</div>
<hr>


<div class="">
	<h1>인기 콘텐츠</h1><%= link_to "더보기 (클릭시 맞춤콘텐츠 페이지로 이동합니다.)", contents_path %>

	<div>	<!-- 인기 콘텐츠 전체가 노출됩니다. -->
		<% @contents.each do |content| %>
			<div><!-- 썸네일 이미지 -->
				<%= link_to image_tag(content.thumb), content_path(content) %>
			</div>
			<div><!-- 타이틀이 노출됩니다. -->
				<p><%= content.title %></p>		
			</div>
			<div><!--키워드 전체가 노출됩니. -->
				<p><%= content.tags.all %></p>		
			</div>					
		<% end %>

	</div>
</div>
<hr>

<div>
	<h1>랭킹제품</h1><%= link_to "더보기 (클릭시 랭킹제품 페이지로 이동합니다.)", ranking_index_path %>
	
</div>