<p id="notice"><%= notice %></p>

<p>
  <h3>Thumbnail</h3>
  <img src="<%= @product.thumb.detail %>" alt="" />
</p>
<h3>Name: <%= @product.name %></h3>
<p>Brand: <%= @product.brand %></p>

<article class="" style="border: 1px solid #555">
  <h3>Body</h3>
  <p><%= @product.body.html_safe %></p>
  <% if @product.score != nil %>
    <h3>평점</h3>
    <p>★<%= @product.score %></p>
  <% end %>
</article>
<p>
  <h3>태그</h3>
  <% @tags.each do |tag| %>
    <span>#<%= tag.name %></span>&nbsp
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>

<div class="">
  <h3><%= @product.reviews.count %> Reviews</h3>
  <%= render @product.reviews %>
  <h3>Add a Review: </h3>
  <%= render "reviews/form" %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
      return $(this).attr('data-score');
    }
  });
</script>
