<p id="notice"><%= notice %></p>

<p>
  <h3>Thumbnail</h3>
  <img src="<%= @product.thumb.detail %>" alt="" />
</p>
<h3>Name: <%= @product.name %></h3>
<p>Brand: <%= @product.brand %></p>

<article>
  <h3>Body</h3>
  <%= @product.body.html_safe %>
</article>

<p>
  <% @tags.each do |tag| %>
    <span>#<%= tag.name %></span>&nbsp
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<div class="">
  <h3><%= @product.reviews.count %> Comments</h3>
  <%= render @product.reviews %>
  <h3>Add a Review: </h3>
  <%= render "reviews/form" %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
      return $(this).attr('data-score');
    }
  });
</script>
