<nav class="">
  <ul>
    <li><a href="/store/category/<%= 'All' %>">ALL</a></li>
    <li><a href="/store/category/<%= '스킨케어' %>">스킨케어</a></li>
    <li><a href="/store/category/<%= '페이스업' %>">페이스업</a></li>
    <li><a href="/store/category/<%= '헤어' %>">헤어</a></li>
    <li><a href="/store/category/<%= '바디' %>">바디</a></li>
  </ul>
</nav>

<h3><%= @ca %> 제품s</h3>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">필터 ▼</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/store/filter/<%= 'latest' %>">최신순</a>
    <a href="/store/filter/<%= 'hottest' %>">인기순(리뷰 수)</a>
    <a href="/store/filter/<%= 'price' %>">가격순</a>
  </div>
</div>

<article>
  <% @products.each do |product| %>
    <div class="" style="border: 1px solid #555">
      <div class="">
        <span><%= product.category %></span>
        <%= link_to image_tag(product.thumb.main), product_path(product) %><!-- 썸네일 이미지 -->
      </div>
      <div class="">
        <h3><%= product.name %>(<%= product.brand %>)</h3>
        <%
          price = product.price.to_s
          price_string = ""
          if price.length == 4
            price_string = price[0] + "," + price[1..3]
          elsif price.length == 5
            price_string = price[0..1] + "," + price[2..4]
          elsif price.length == 6
            price_string = price[0..2] + "," + price[3..5]
          end
        %>
        <h5>가격: <%= price_string %>원</h5>
      </div>
      <div class=""><%= product.score %>(<%= product.reviews.count %>개)</div>

      <div class="">
        <% tags = product.tags %>
        <% tags.each do |tag| %>
          <span>#<%= tag.name %></span>&nbsp
        <% end %>
      </div>
    </div>
  <% end %>
</article>
