<!DOCTYPE html>
<html>
  <head>
    <title>Manspouch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <header>
        <div class="main_logo">
          <a href="/">Manspouch</a>
        </div>

        <nav>
          <ul>
            <li><%= link_to "Contents", contents_path  %></li>
            <li><%= link_to "Products", products_path  %></li>
            <li><%= link_to "Ranking", ranking_index_path %></li>
            <li><%= link_to "Srote", store_index_path%></li>
          </ul>
        </nav>

        <div class="nav-auth">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to 'MyPouch', '/mypouch/index' %></li>
              <li><%= link_to 'SignOut', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'SignIn', new_user_session_path %></li>
              <li><%= link_to 'SignUp', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </header>
    </div>
    <hr>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
