<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&amp;subset=korean" rel="stylesheet">
    <title>Manspouch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    -->
      <header>
        <div class="top-con">
          <a href="/">
            <div class="main_logo">
            </div>
            </a>
          
          <div class="nav-main">
            <ul>
              <li><a href="/contents/custom/<%= 'all' %>">페이스업 매뉴얼</a></li>
              <li><a href="/products/custom/<%= 'all' %>">맞춤 제품</a></li>
              <li><a href="/ranking/category/<%= 'all' %>">랭킹</a></li>
              <li><a href="/store/category/<%= 'all' %>">스토어</a></li>
              <li><a href="/creatures/category/<%= 'all' %>">크리에이터 콘텐츠</a></li>
            </ul>
          </div>

          <div class="nav-auth">
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to 'MyPouch', '/mypouch/index' %></li>
                <li><%= link_to 'SignOut', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to '로그인', new_user_session_path %></li>
                <li><%= link_to '회원가입', new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
